:root {
  --primary-green-200: hsl(148, 38%, 91%);
  --primary-green-600: hsl(169, 82%, 27%);
  --primary-red: hsl(0, 66%, 54%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-500: hsl(186, 15%, 59%);
  --neutral-grey-900: hsl(187, 24%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: lightgoldenrodyellow;
  padding: 0 1.1rem;
}
input {
  margin-bottom: 10px;
}

.error-state {
  border-color: var(--primary-red);
  color: var(--primary-red);
}

input,
fieldset,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--neutral-grey-500);
  margin-top: 10px;
  font-family: "Karla", sans-serif;
}

input:hover,
:focus {
  cursor: pointer;
  /* border: 1px solid var(--primary-green-600); */
  outline: 1px solid var(--primary-green-600);
}

input[type="radio"],
input[type="checkbox"] {
  outline: none;
  border-color: black;
}

fieldset {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
fieldset > input {
  width: auto;
  margin: 0;
}

button {
  padding: 1rem 0;
  background-color: var(--primary-green-600);
  border: none;
  border-radius: 10px;
  color: var(--neutral-white);
  font-family: "Karla", sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: var(--neutral-grey-900);
}
.App {
  width: 700px;
  height: 700px;

  padding: 50px;
  border-radius: 10px;
  background-color: var(--neutral-white);
  overflow: auto;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.form h1 {
  grid-column: 1;
  grid-column: span 2;
}

.form p {
  grid-column: span 2;
}

.form label[for="last-name"] {
  grid-column: 2;
  /*  grid-row: 2; */
}

.form label[for="email"] {
  grid-row: 3;
  grid-column: span 2;
}

.form input[name="email"] {
  grid-row: 5;
  grid-column: span 2;
}

.form,
label[for="query"],
label[for="message"],
button[name="submit"],
fieldset[name="consent"] {
  grid-column: span 2;
}

.form label[for="query"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

fieldset[name="general-enquiry"] {
  grid-row: 2;
  grid-column: 1;
}
fieldset[name="support-request"] {
  grid-row: 2;
  grid-column: 2;
}

fieldset[name="consent"] {
  border: none;
  padding: 0;
}

.isActive {
  background-color: var(--primary-green-200);
  outline: 1px solid var(--primary-green-600);
}

.success-container {
  max-width: 700px;
  max-height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: var(--primary-green-600);
  color: var(--neutral-white);
  padding: 3rem;
  border-radius: 12px;
  overflow: auto;
}

.title-message {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-message img {
  width: 20px;
  height: 20px;
}

.content-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  row-gap: 5px;
}

.success-container button {
  background-color: var(--neutral-white);
  color: black;
}

.success-container {
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* RESPONSIVE */

@media (max-width: 600px) {
  .App,
  .success-container {
    max-height: 700px;
    width: 100%;
    padding: 2rem;
    overflow: auto;
  }

  .content-details {
    row-gap: 1rem;
  }

  .content-details p:nth-last-child(3) {
    grid-column: span 2;
  }

  .form {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .form h1,
  .form label[for="first-name"],
  .form label[for="last-name"],
  .form label[for="email"] {
    grid-column: 1;
    grid-row: auto;
  }

  .form h1 {
    margin-bottom: 20px;
  }

  .form label[for="query"] {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }
  fieldset[name="general-enquiry"],
  fieldset[name="support-request"] {
    grid-column: 1;
    grid-row: auto;
  }

  textarea {
    height: 200px;
    text-align: justify;
    line-height: 1.6;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
